*{
    border:0;
    padding:0;
}

body{
    font-family: 'EB Garamond', serif;
    font-family: 'Josefin Slab', serif;
    font-size: 1.5em;
    height:100vh;
    width:100vw;
    min-width:75vw;
    display:grid;
    grid-template-areas: 
    "sidenav header header header header header header header header header"
    "sidenav main main main main main main main main side";
    margin:0;
    overflow-x:hidden;
}

.side-nav{
    grid-area: sidenav;
    display:flex;
    flex-direction: column;
    background: linear-gradient(#e66465, #9198e5);
    padding: 0 1.3em 1em 1.3em;
    border:0;
    margin:0;
    width:10vw;
    text-shadow: 2px 2px black;
}

.side-nav > div{
    display:flex;
}

.userDashboard, .userSettings{
    display:flex;
    flex-direction: column;
    padding-top:1.5em;
    padding-bottom:1.5em;
}

.userDashboard{
    justify-items: center;
}

.logo, .home, .profile, .library, .messages, .calendar, .tasks, .socials, .settings, .support, .privacy{
    color:white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:1em;
}

a:link, a:visited{
    text-decoration: none;
}

.userDashboard > div:hover, .userSettings > div:hover{
    transform: translateX(3em) scale(1.3);
    transition: 0.2s;
}

.header{
    grid-area: header;
    display:flex;
    flex-direction:column;
    padding: 1em 1.5em 1em 1.5em;
    border-bottom: 1px #e66465 solid;
    width: auto;
    height: max-content;
    flex: 1;
    line-height: 0;
    text-shadow: 1px 1px #888888;
    overflow:hidden;
}

.greetings{
    font-size:large;
}

.heading{
    margin:0;
    padding:0.3em;
}

.header .fa-regular:hover, .header .fa-solid:hover{
    transform:scale(1.1);
    transition:ease-in-out .2s;
    color: rgba(100,0,100,.5);
    text-shadow: 1px 1px black;
}

.headButton{
    color: white;
    background-color: rgb(148,149,223);
    border-radius: 15px;
    border: 1px #888888 solid;
    font-weight: bold;
    font-size: large;
    width:6em;
    height:2em;
    box-shadow: 1px 1px black;
}

.headButton:hover{
    transform:scale(1.1);
    transition:ease-in-out .2s;
    background-color: rgba(225,102,107,1);
    text-shadow: 1px 1px black;
}

.upHead{
    display:flex;
    justify-content: flex-end;
}

.botHead{
    display:flex;
    justify-content: space-between;
}

.upRightHead, .botLeftHead, .botRightHead{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}

.botLeftHeadText{
    flex-direction: column;
    font-weight: bold;
}

.mainContent{
    grid-area: main;
    display:flex;
    flex-basis: 1;
    flex-direction: column;
    padding:15px;
    min-width:auto;
    width:auto;
    overflow: scroll;
}

.cards{
    display:grid;
    gap:15px;
    grid-template-columns: repeat(4, 1fr);
}

.cards > i{
    color: rgba(225,102,107,.6);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(10rem, 17.5vw, 15rem); 
}

.card{
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    border: 1px lightslategray solid;
    border-radius: 10px;
    min-width:390px;
    flex-wrap: wrap;
    padding:15px;
    box-shadow: 4px 4px #888888;
}

.cardText{
    margin-bottom: 2em;
}

.cardText h4{
    margin:.3em;
    margin-bottom: 2em;
}

.description{
    font-size: 0.9em;
    text-indent: 2em;
    text-align: justify;
}


.card:hover{
    background-color: rgb(148,149,223);
    box-shadow: 4px 4px black;
    color: white;
    transform:scale(1.03);
    transition:ease 0.25s;
    text-shadow: 1.5px 1.5px black;
}

.cardActions{
    display:flex;
    justify-content: flex-end;
    gap:20px;
}

.sideTitle{
    font-weight: bold;
}

.sideDesc{
    text-indent: 2em;
    text-align: justify;
}

.sideDesc, .userTitle{
    font-size:0.7em;
}

.sideContent{
    grid-area:side;
    display:flex;
    flex-shrink: 0;
    flex-direction: column;
    width:auto;
    padding-left:0.5em;
    padding-right:0.5em;
    margin-top:0.8em;
    gap:1em;
}

.updates, .trends{
    display:flex;
    flex-direction:column;
    border: 1px lightslategray solid;
    padding:15px;
    width:clamp(12.5em, 15em, 17.5em);
    box-shadow: 2px 2px #888888;
}

.update, .trend{
    padding-left:20px;
    padding-right:20px;
}

.trend{
    display:flex;
    align-items: center;
    justify-content: center;
    height:5em;
    line-height: 0.7em;
    border: 1px solid rgb(148,149,223);
    gap:20px;
}

.trend > .fa-solid{
    width:1.5em;
    height:auto;
}

.trend > .fa-solid:hover{
    transform:scale(1.2);
    transition:ease-in-out .2s;
    color: rgba(100,0,100,.5);
    text-shadow: 1px 1px black;
}

.userInfo{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.username{
    font-size: .8em;
    font-weight: bold;
}

.userTitle{
    margin:0;
}
